/******<<>>（https://www.wyeditor.com，免费软件欢迎下载使用） 样式文件*******/
html, body{margin:0cm;padding:0cm;height: 100%;width:100%}
a{color:#000000;text-decoration:none }  
a:visited{COLOR:#000000;TEXT-DECORATION:none }  
a:active{color:#000000;text-decoration:none }  
a:hover{color:#000000;text-decoration:underline }  

 /*导航部分*/ 
 .nav{width: 100%; height: 60px; box-shadow: 0 3px 3px 0 #CCC; background: #FFF; position: fixed; left: 0; top: 0; z-index: 999; overflow: hidden; transition: 0.3s} 
 .nav.index{background: rgba(255, 255, 255 ,0.8); box-shadow: 0 0 0 0 rgba(0,0,0,0.05);} 
 .nav.scroll{ background: #FFF; box-shadow: 0 3px 3px 0 rgba(0,0,0,0.05); transition: 0.3s} 
 .nav .layui-container{position: relative; transition: all 400ms ease-out;} 
 .nav .nav-logo{height: 100%; position: absolute; top: 0; left: 15px; line-height: 60px;} 
 .nav .nav-list{display: inline-block; height: 60px;} 
 .nav .nav-list button{width: 25px; height: 30px; position: absolute; top: 20px; right: 15px; background-color: transparent; border: none; outline: none; cursor: pointer;} 
 .nav .nav-list button span{display: block; width: 25px; height: 2px; background: #2db5a3; margin-bottom: 6px; transition: 0.5s;} 
 .nav .nav-list button span.spa1{transform: rotate(45deg);} 
 .nav .nav-list button span.spa3{transform: rotate(-45deg) translate(5px,-5px);} 
 .nav .layui-nav{width: 100%; position: absolute; top: 60px; right: 0; color: #000; background: transparent;} 
 .nav .layui-nav .layui-nav-item{display: block; line-height: 60px;} 
 .nav .layui-nav *{font-size: 18px;} 
 .nav .layui-nav .layui-nav-item a{padding: 0 0; color: #000;} 
 .nav .layui-nav-bar, 
 .nav .layui-nav .layui-this:after{height: 2px; background-color: #2db5a3;} 
 .nav .layui-nav .layui-this a 
 ,.nav .layui-nav .layui-nav-item a:hover{color: #2db5a3;} 
 /*小屏幕*/ 
 @media screen and (min-width: 768px){ 
   .nav{max-height: 60px;} 
   .nav.index{background: rgba(255, 255, 255 ,0.3);} 
   .nav .nav-list button{display: none;} 
   .nav .nav-logo{position: absolute; top: 0; left: 0;} 
   .nav .layui-nav{width: auto; position: absolute; top: 0; padding: 0 5px; border-radius: 0; margin: 0;} 
   .nav .layui-nav .layui-nav-item{display: inline-block; margin:0 53px; line-height: 60px;} 
 } 
 @media screen and (min-width: 768px) and (max-width: 1024px){ 
   .nav .layui-nav .layui-nav-item{margin:0 33px;} 
 } 
 @media screen and (min-width: 1300px) { 
   .layui-container{width: 1200px; padding: 0;} 
   .nav .nav-logo{position: absolute; top: 0; left: 0;} 
   .layui-col-space80{margin: -40px;} 
   .layui-col-space80>*{padding: 40px;} 
 } 

.myanimLayCommPanel_767206{display:inline-block;-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes
 super-fadein{0%{opacity:0}100%{opacity:1}}@keyframes super-fadein{0%{opacity:0}100%{opacity:1}} 
 .anim-fadein{-webkit-animation-name:super-fadein;animation-name:super-fadein}  

.logo {
position:relative !important;
z-index:0;
width:48px;
height:48px;
outline: 0;
box-sizing:border-box;margin-top: 6px
}

.myanimlogo{display:inline-block;-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.myanimMenu_713292{display:inline-block;-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.docpage {
position:absolute !important;
z-index:0;
left:128px;
width:100px;
top:0px;
height:20px;
outline: 0;
background-color: transparent;
box-sizing:border-box
}

 #docpage:Hover 
 { 
 background-color:  !important; outline: 0; 

}
.div_551664 {
position:relative !important;
z-index:0;
overflow:hidden;
left: 0%;
width:100%;
outline: 0;
background-color: #FFFFFF;
border:0px;box-sizing:border-box;margin-top: 70px
}

.UL_42344 {
position:relative !important;
z-index:0;
left:0px;
width:100%;
outline: 0;
background-color: transparent;
font-family: "Segoe UI";
font-size: 12px;border-left:0px;border-top:0px;border-right:0px;border-bottom:0px;box-sizing:border-box;margin: 0px;
list-style-type:disc;
list-style-position:inside
}

.LI_2 {
position:relative !important;
z-index:0;
left:0px;
width:100%;
outline: 0;
background-color: #FFFFFF;
font-family: "Segoe UI";
font-size: 16px;border-left:0px;border-top:0px;border-right:0px;border-bottom:0px;box-sizing:border-box;margin-top: 12px
}

.text_224312 {
position:relative !important;
z-index:0;
outline: 0;
background-color: transparent;
font-size: 14px;
color: #0000FF;
text-align: justify;box-sizing:border-box;margin-left: 10px;margin-top: 20px
}

